@use '../1-base/variables'


@mixin cards-users
    img
        padding-bottom: 1rem
        width: 100%

    h2
        text-align: center
        padding-bottom: 1rem
        font-size: 1rem

    p
        text-align: center
        font-size: .8rem
        color: variables.$gray-color

@mixin card-template
    background-color: variables.$white-color
    border-radius: 20px
    width: 300px
    margin: 2rem 0rem
    padding: 2rem
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px