@use '../1-base/variables'
@use 'layout-mixins'
@use '../1-base/base-mixins'

.user 
    display: flex
    flex-direction: column
    align-items: center

    &__card-1
        @include layout-mixins.card-template
        @include layout-mixins.cards-users
        @include base-mixins.tablet
            width: 100%
            display: flex
            flex-direction: row-reverse
            align-items: center

    &__card-2
        @include layout-mixins.card-template
        @include layout-mixins.cards-users
        @include base-mixins.tablet
            width: 100%
            display: flex
            flex-direction: row
            align-items: center

    &__card-3
        @include layout-mixins.card-template
        @include layout-mixins.cards-users
        @include base-mixins.tablet
            width: 100%
            display: flex
            flex-direction: row-reverse
            align-items: center



