@use '../1-base/variables'
@use 'layout-mixins'
@use '../1-base/base-mixins'

.user 
    display: flex
    flex-direction: column
    align-items: center

    &__card-1
        @include layout-mixins.card-template
        @include layout-mixins.cards-users
        @include base-mixins.tablet
            @include layout-mixins.direction
            flex-direction: row-reverse
        @include base-mixins.desktop
            @include layout-mixins.cards-users-desk

    &__card-2
        @include layout-mixins.card-template
        @include layout-mixins.cards-users
        @include base-mixins.tablet
            @include layout-mixins.direction
            flex-direction: row
        @include base-mixins.desktop
            @include layout-mixins.cards-users-desk

    &__card-3
        @include layout-mixins.card-template
        @include layout-mixins.cards-users
        @include base-mixins.tablet
            @include layout-mixins.direction
            flex-direction: row-reverse
        @include base-mixins.desktop
            @include layout-mixins.cards-users-desk



